# phonegap
platforms/
plugins/

node_modules/

www/bower_components/

.sass-cache/

#compiled coffee
www/**/*.js
www/**/*.js.map

#compiled sass
www/**/*.css

#compiled html
www/index.html
www/**/*.html
