%link{rel: 'import', href: '../base/base.html'}

%polymer-element{name: 'huajian-poem-show', extends: 'guoce-base'}
  %template
    %link{rel: 'stylesheet', href: './poem-show.css'}

    %div
      poem-show

  %script{src: './poem-show.js'}
