%link{rel: 'import', href: '../../bower_components/paper-menu-button/paper-menu-button.html'}
%link{rel: 'import', href: '../../bower_components/paper-button/paper-button.html'}
%link{rel: 'import', href: '../../bower_components/paper-dropdown/paper-dropdown.html'}
%link{rel: 'import', href: '../../bower_components/paper-input/paper-input.html'}

%link{rel: 'import', href: '../base/base.html'}
%link{rel: 'import', href: '../word-new-inline/word-new-inline.html'}

%polymer-element{name: 'huajian-word-show', extends: 'huajian-base', attributes: 'editable'}
  %template
    %link{rel: 'stylesheet', href: './word-show.css'}

    %template{if: '{{ !editable }}'}
      %paper-button#word-button(disabled)
        word show disabled btn

    %template{if: '{{ editable }}'}
      %paper-menu-button
        %paper-button#word-button(raised)
          word show btn
        %paper-dropdown.dropdown#dropdown
          %huajian-word-new-inline

  %script{src: './word-show.js'}
